*~
*.o
*.d
*.gcda
*.gcno
*.rej
*.swp
.version
skiboot-nosection.elf
skiboot*.elf
skiboot.lds
skiboot.lid
skiboot.lid.xz
skiboot*.map
skiboot.info
coverage-report/
extract-gcov
.tags*
TAGS
tags
GTAGS
GRTAGS
GPATH
cscope.out
asm/asm-offsets.s
include/asm-offsets.h
version.c
ccan/*/test/*-gcov
ccan/*/test/run
ccan/build_assert/test/run-BUILD_ASSERT_OR_ZERO
ccan/list/test/run-check-corrupt
ccan/list/test/run-list_del_from-assert
ccan/list/test/run-single-eval
ccan/list/test/run-with-debug
ccan/short_types/test/run-endian
ccan/str/test/run-STR_MAX_CHARS
core/test/run-console-log
core/test/run-time-utils
core/test/run-timebase
core/test/run-timer
core/test/run-console-log-buf-overrun
core/test/run-console-log-pr_fmt
core/test/run-mem_range_is_reserved
core/test/run-mem_region_next
core/test/run-mem_region_reservations
ccan/*/test/gmon.out
core/test/run-device
core/test/run-malloc
core/test/run-malloc-speed
core/test/run-mem_region
core/test/run-mem_region_init
core/test/run-mem_region_release_unused
core/test/run-mem_region_release_unused_noalloc
core/test/run-msg
core/test/run-nvram-format
core/test/run-pel
core/test/run-pool
core/test/run-trace
core/test/*-gcov
debian-jessie-vmlinux
debian-jessie-initrd.gz
external/dump_trace
external/mambo/skiboot-boot_test.dump
external/mambo/skiboot-hello_world.dump
external/memboot/memboot
hdata/test/hdata_to_dt
hdata/test/hdata_to_dt-gcov
hw/ipmi/test/run-fru
hw/ipmi/test/*-gcov
libc/test/run-time
libc/test/run-time-gcov
libflash/test/test-blocklevel
libflash/test/test-flash
libflash/test/test-ecc
libflash/test/test-flash-gcov
test/hello_world/hello_kernel/hello_kernel
zImage.epapr
vgcore.*
